%html
  %head
    %title Extreme Startup - #{name}
    = haml :head
  %body
    %div{ :class => "container" }
      %div{ :class => "card" }
        %div{ :class => "card-body" }
          %h5{ :class => "card-title" }
            &= "Coucou #{name}!"
          %p
            Your score is:
            %span.score #{score}

        %table{ :class => "table" }
          %thead
            %tr
              %th{ :scope => "col" }ID
              %th{ :scope => "col" }Result
              %th{ :scope => "col" }Points awarded
          %tbody
            - log.each do |logline|
              %tr{ :class => logline.points < 0 ? "text-danger" : "text-success" }
                %th{ :scope => "row" } #{logline.id}
                %td #{logline.result}
                %td #{logline.points}
